@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@using NewsPortal.Logic.Enums
@model NewsPortal.Logic.Models.Post
@{
    ViewData["Title"] = "Post";
    Layout = "_Layout";
}

<div class="form-horizontal">
    <div class="form-group">
        <h4>@Model.Name</h4>
    </div>
    <div class="form-group">
        @Model.Description
    </div>
    <hr />

    <div class="row">
        <div>
            @if (context.HttpContext.Request.Cookies["UserId"].Equals(Model.AuthorId.ToString()))
            {
                @(Html.ActionLink("Edit Post", "EditPost", "Post", Model, new { @class = "btn btn-success" }))
            }
            @if (!context.HttpContext.Request.Cookies["UserId"].Equals(Model.AuthorId.ToString()))
            {
                <b style="margin-left: 50px">Rating:@Model.Rating</b>
                <div class="btn-group" style="margin-left: 20px" role="group" aria-label="Basic example">
                    @Html.ActionLink("+", "ChangePostRating", "Rating", new {postId = Model.Id, value = Rating.Plus}, new {@class = "btn btn-primary"})
                    @Html.ActionLink("-", "ChangePostRating", "Rating", new {postId = Model.Id, value = Rating.Minus}, new {@class = "btn btn-primary"})
                </div>
                @await Component.InvokeAsync("Rating", new {postId = Model.Id})
            }
        </div>
    </div>
    <div>
        <b>Comments:</b>
        @await Component.InvokeAsync("Comment", new { replies = Model.Comments })
        @await Component.InvokeAsync("CommentEditor", new { postId = Model.Id })
    </div>
</div>
