@using System.ComponentModel
@using NewsPortal.Logic.Enums
@model IEnumerable<NewsPortal.Logic.Models.Post>

@{
    Layout = "_LayoutWithoutNavbar";
}

<div>
    <div class="btn-group btn-group-sm" style="margin-left: 60%" role="group">
        @Html.ActionLink("By Date", "SortPosts", "Post", new
        {
            sort = SortBy.Date,
            pageName = @ViewData["Title"]
        }, new { @class = "btn btn-outline-dark" })
        @Html.ActionLink("By Rating", "SortPosts", "Post", new
        {
            sort = SortBy.Rating,
            pageName = @ViewData["Title"]
        }, new { @class = "btn btn-outline-dark" })
        @if (ViewData["direction"].Equals(ListSortDirection.Ascending))
        {
            @Html.ActionLink("Ascending", "SortPosts", "Post", new
            {
                sort = ViewData["sortBy"],
                direction = ListSortDirection.Descending,
                pageName = @ViewData["Title"]
            }, new { @class = "btn btn-outline-dark" })
        }
        else
        {
            @Html.ActionLink("Descending", "SortPosts", "Post", new
            {
                sort = ViewData["sortBy"],
                direction = ListSortDirection.Ascending,
                pageName = @ViewData["Title"]
            }, new { @class = "btn btn-outline-dark" })
        }

    </div>
    @foreach (var post in Model)
    {
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <h4>@Html.ActionLink(post.Name, "GetPostById", "Post", new { id = post.Id })</h4>
            </div>
            <div class="form-group">
                @post.Description
            </div>
        </div>
    }
</div>
